In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karakol,KG,2020-10-14 15:36:27,42.49,78.39,41.25,59,0,3.53
1,1,Yellowknife,CA,2020-10-14 15:35:01,62.46,-114.35,24.80,58,90,24.16
2,2,Ayr,GB,2020-10-14 15:36:27,55.46,-4.63,57.20,71,40,11.41
3,3,Charters Towers,AU,2020-10-14 15:36:27,-20.10,146.27,65.50,82,35,14.05
4,4,Bredasdorp,ZA,2020-10-14 15:36:28,-34.53,20.04,66.20,55,0,13.87

In [3]:
#Get the datatpyes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Kandrian,PG,2020-10-14 15:36:29,-6.22,149.55,75.00,82,85,3.27
9,9,Petatlan,MX,2020-10-14 15:36:30,17.52,-101.27,86.00,66,40,4.63
10,10,Victoria,HK,2020-10-14 15:32:32,22.29,114.16,80.01,81,96,3.00
11,11,Mahebourg,MU,2020-10-14 15:36:30,-20.41,57.70,75.20,78,40,6.93
14,14,Arraial Do Cabo,BR,2020-10-14 15:36:31,-22.97,-42.03,86.00,62,40,9.17
19,19,Puerto Ayora,EC,2020-10-14 15:36:33,-0.74,-90.35,75.20,78,75,8.05
21,21,Harqalah,TN,2020-10-14 15:36:34,36.03,10.51,80.60,27,40,18.34
23,23,Marsh Harbour,BS,2020-10-14 15:35:15,26.54,-77.06,82.08,71,10,13.33
26,26,Quatre Cocos,MU,2020-10-14 15:36:36,-20.21,57.76,75.99,78,40,6.93
29,29,Metlaltoyuca,MX,2020-10-14 15:36:36,20.73,-97.85,78.80,94,40,6.71

In [17]:
preferred_cities_df.count()

City_ID       190
City          190
Country       189
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
8          Kandrian      PG     75.00  -6.22  149.55
9          Petatlan      MX     86.00  17.52 -101.27
10         Victoria      HK     80.01  22.29  114.16
11        Mahebourg      MU     75.20 -20.41   57.70
14  Arraial Do Cabo      BR     86.00 -22.97  -42.03
19     Puerto Ayora      EC     75.20  -0.74  -90.35
21         Harqalah      TN     80.60  36.03   10.51
23    Marsh Harbour      BS     82.08  26.54  -77.06
26     Quatre Cocos      MU     75.99 -20.21   57.76
29     Metlaltoyuca      MX     78.80  20.73  -97.85

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Kandrian,PG,75.00,-6.22,149.55,Kandrian Station
9,Petatlan,MX,86.00,17.52,-101.27,Hotel California Petatlán
10,Victoria,HK,80.01,22.29,114.16,Mini Hotel Central
11,Mahebourg,MU,75.20,-20.41,57.70,Shandrani Beachcomber Resort & Spa
14,Arraial Do Cabo,BR,86.00,-22.97,-42.03,Pousada Porto Praia
19,Puerto Ayora,EC,75.20,-0.74,-90.35,Finch Bay Galapagos Hotel
21,Harqalah,TN,80.60,36.03,10.51,Dar Khadija
23,Marsh Harbour,BS,82.08,26.54,-77.06,Abaco Beach Resort
26,Quatre Cocos,MU,75.99,-20.21,57.76,Emeraude Beach Attitude Hotel
29,Metlaltoyuca,MX,78.80,20.73,-97.85,"Hotel ""Doña Yuya"""

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))